<p id="notice"><%= notice %></p>

<h1>Boards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script>
        var client = filestack.init('ADJtRoEBORWC2hskhDZbDz');
        function showPicker() {
            client.pick({
            }).then(function(result) {
                console.log(JSON.stringify(result.filesUploaded))
            });
        }
    </script>
    <input type="button" value="Upload" onclick="showPicker()" />


  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
